.landing-background{
  background: #000000;
  width: 100vw;
  height: auto;
}
.live{
  display: flex;
  margin: 127px 107px 70px 107px;
}
.video-contain{
  display:flex;
  width: 100%;
}
.feed-style{
  height: 240px;
  margin: 0 !important;
  padding: 0 0 12px 0;
  overflow-y: auto;
}
.event-style{
  margin-bottom: 7px !important;
}
.chat{
  width: calc(100% - 775px);
  display: flex;
  flex-direction: column;
  color:white !important;
  padding-left: 12px;
}
.color-white{
  color:white;
}
.color-grey{
  color: darkgrey;
}
.img-icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.over{
  overflow-y: auto;
  height: 50px;
}
.form{
  display:flex;
}
.button-form{
  flex:1;
}
.input-form{
  flex:4;
}

.stream-games{
  display: flex;
  justify-content: space-around;
  margin: 60px 0 60px 0;
}
.view-border{
  padding-bottom:8px;
  border-bottom:solid white 1px;
}
.top-stream{
  width: 157px;
  object-fit: contain;
  font-family: RobotoMono;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  border-bottom: solid 4px;
}
.game-name{
font-family: Raleway;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0.8px;
 color: white;
 margin: 8px 0 7px 0;
}
.view{
  width: 248px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: white;
  margin: 0;
}
.view-bottom{
  display: flex;
}
.live-logo{
  padding: 0;
  margin: 0 0 0 45px;
  width: 51px;
  height: 19px;
  display: flex;
  color: white;
}
.live-word{
  font-family: Raleway;
   font-size: 16px;
   letter-spacing: 0.8px;
   color: white;
   padding:0;
   margin-left: 5px;
}
.circle{
  border:solid red;
  background: red;
  padding: 0;
  margin: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
.top-games{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding-bottom: 60px;
}
.fort-box{
  width: 230px;
  height: 345px;
  background: url(./images/fortnite.jpg);
  background-size: contain;
}
.apex-box{
  width: 230px;
  height: 345px;
  background: url(./images/apex.jpg);
  background-size: cover;
  background-position: center;
}
.sekiro-box{
  width: 230px;
  height: 345px;
  background: url(./images/sekiro.jpeg);
  background-size: contain;
}











.nav{
  width: 100vw;
  height: 150px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, #22988d, #010505);
  display: flex;
  align-items: center;
}
.link{
  width: 142px;
  height: 26px;
  margin-left: 25px;
  font-family: RobotoMono;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}
.menu{
  margin-left: 40px;
}
.logo{
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 50px;
}
.search{
  display: inline-block;
  margin-left: 70px;
}
.chat-img{
  margin-left: 100px;
}
