.landing-background{
  /* background: #000000; */
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}
.live{
  display: flex;
  border:solid;
  margin: 127px 107px 0 107px;
}
.video-contain{
  display:flex;
}

















.nav{
  width: 1440vw;
  height: 155px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, #22988d, #010505);
}
.link{
  width: 142px;
  height: 26px;
  font-family: RobotoMono;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}
.search{
  display: inline-block;
}
